
p.one {
        border-bottom: solid rgba(0, 128, 0, 0.77);
        border-width: 3px
    }
p.intro {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
h2  {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    }
